# County Health Data Subset

## Using the Public Health Data Set 
### Overview 
#### This notebook will take us trough the steps of exploring the Public Health Data Set to determine particular relationships. 
- Specifically, we will be deep diving into the relationship between poor mental health days and early deaths within the population of Ney York from 2014-2015. 
- Using this information, we will determine th4e correlation these two pieces of data have.

## Step 1: Finding Data Sets

### In order to import this data set, you must first download the csv file. 
- Downloadt the csv file "CountyHealthData_2014-2015.csv" from canvas or from 'Awesome Public Data Sets' and save it as a csv file
- For easy access, copy this csv file into the folder belonging to this Jupyter Notebook. 
- You must save this csv file to the same working direcotry as your .ipnb notebook file that you will be using
- later you will be able to access this file through relative file paths 
- The path will be the name of the file if it is located in your working directory

## Step 2: Importing Data Sets

#### Import the pandas and numpy packages using the following command. Naming the files in this manner allows for a quicker access, as we can now call functions from pandas with pd. <function> instead of pandas.<function>

In [3]:
import pandas as pd 
import numpy as np

## Step 3: Creating a Data Frame

#### To create your own dataframe object you must first define the dataframe as df. To do this we must use the pd.read_csv()function on our data file by inserting the file you want into the parathenses. Because we want the "CountyHealthData_2014-2015.csv", that is what we will insert.

In [4]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

## Step 4: Data Attributes

#### In order to filter data and narrow down our pool of information we must use functions such as series. In this case we will be using the value counts method to find cateogircal values for the different regions within the data.
To do this we must 
1. enter the file name (df) (because we previously named "CountyHealthData_2014-2015.csv" as "df", data from this set will pull up 
2. followed by the category you want to find (Region) 
3. Next, insert the series .value_counts()

In [5]:
df.Region.value_counts()

South        2803
Midwest      2038
West          834
Northeast     434
Name: Region, dtype: int64

## Step 5: Filtering Data

#### With such a large dataframe, we will want to narrow down the colummns or rows to deep dive into specific informatoin. In this case we will be comparing "poor mental health days" with "premature death" in the Northeast. 

First, to filter our dataset to only the state of New York, we can logical conditions (baed on true or false), using nested square brackets.

For example, 

The inner statement, df["State"]=="NY" looks for a column name and checks if it equals "NY"
The outer statement df[ ... ] uses the resulting column of True/False values to select rows
Together, these two commands call all of the data contained in rows where the value of the State field is equal to "NY"

In [6]:
df[df["State"] == "NY"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3850,NY,Northeast,Mid-Atlantic,Albany County,36001,36001,Region 14,1/1/2014,6004.0,0.129,...,6.63,0.110,0.041,8224.0,0.054,122.0,57951,0.297,2.68,0.203
3851,NY,Northeast,Mid-Atlantic,Albany County,36001,36001,Region 14,1/1/2015,5883.0,0.129,...,8.73,0.115,0.035,8286.0,0.054,129.0,55778,0.326,2.50,NaN
3852,NY,Northeast,Mid-Atlantic,Allegany County,36003,36003,Region 14,1/1/2014,5486.0,0.163,...,4.63,0.134,0.049,7988.0,NaN,58.0,41623,0.365,NaN,0.178
3853,NY,Northeast,Mid-Atlantic,Allegany County,36003,36003,Region 14,1/1/2015,6233.0,0.163,...,7.59,0.131,0.047,7934.0,NaN,64.0,41849,0.381,NaN,NaN
3854,NY,Northeast,Mid-Atlantic,Bronx County,36005,36005,Region 3,1/1/2014,7481.0,0.242,...,10.87,0.216,0.045,10144.0,0.176,74.0,32510,0.783,10.19,0.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,NY,Northeast,Mid-Atlantic,Westchester County,36119,36119,Region 3,1/1/2015,4293.0,0.115,...,7.74,0.156,0.041,9568.0,0.117,60.0,83094,0.274,2.80,NaN
3970,NY,Northeast,Mid-Atlantic,Wyoming County,36121,36121,Region 14,1/1/2014,5532.0,0.141,...,NaN,0.137,0.047,8271.0,0.096,36.0,48470,0.234,NaN,0.173
3971,NY,Northeast,Mid-Atlantic,Wyoming County,36121,36121,Region 14,1/1/2015,5624.0,0.141,...,4.40,0.130,0.043,7892.0,0.096,41.0,51676,0.254,NaN,NaN
3972,NY,Northeast,Mid-Atlantic,Yates County,36123,36123,Region 14,1/1/2014,5485.0,NaN,...,NaN,0.158,0.054,6678.0,NaN,43.0,43789,0.363,NaN,NaN
3973,NY,Northeast,Mid-Atlantic,Yates County,36123,36123,Region 14,1/1/2015,6046.0,NaN,...,NaN,0.170,0.073,6919.0,NaN,52.0,45509,0.424,NaN,NaN

## Step 6: Further Filtering Data

#### We want to further narrow down this dataframe to the "year" "state" "poor mental health days" with "premature death". Becuase of this we must use the .loc attribute to use the column names as a filter.
We can see from the previoud filtered dataset that the state of New York occupies rows 3850-3973. 
Using this information we can further narrow down the columns using the .loc attribute 
1. insert the df and then the .loc attribute 
2. follow it with a square bracket and the row numbers you are looking for seperated by a colon [3850:3973]
3. Next, add a comma and insert another square bracket with the desired column names enclosed ["Year","State","Poor mental health days","Premature death"]

In [7]:
df.loc[3850:3973,["Year","State","Poor mental health days","Premature death"]]

          Year State  Poor mental health days  Premature death
3850  1/1/2014    NY                      3.3           6004.0
3851  1/1/2015    NY                      3.3           5883.0
3852  1/1/2014    NY                      3.3           5486.0
3853  1/1/2015    NY                      3.3           6233.0
3854  1/1/2014    NY                      4.0           7481.0
...        ...   ...                      ...              ...
3969  1/1/2015    NY                      2.8           4293.0
3970  1/1/2014    NY                      4.5           5532.0
3971  1/1/2015    NY                      4.5           5624.0
3972  1/1/2014    NY                      NaN           5485.0
3973  1/1/2015    NY                      NaN           6046.0

[124 rows x 4 columns]

## Step 8: Exporting NY_subset


Once we've finished manipulating our datasets and creating more **usable** or **useful** subsets for further analysis, we can export them as new .csv files, giving us readymade and openly accessible outputs to share with the public on our GitHub repositories.

## Step 9: Exporting File NY_subset to a .csv File

#### This file must be exported into a .csv file for further use
We created this subset to have a more narrowed scope of the data we wish to study. By exporting it as a .csv file, we are allowing it to be more accessable and sharable.
##### To do this we must use the '.to_csv()'function 
- the file name will go intbetween the parenthesis

For example, our file will look like:
- 'NY_subset.to_csv("NY_subset")'

Lastly, create a copy of this dataframe with the tool '.copy()'
- NY_subset= df.loc[3850:3973,["Year","State","Poor mental health days","Premature death"]].copy()

In [8]:
'NY_subset.tocsv("NY_subset.csv")'

'NY_subset.tocsv("NY_subset.csv")'

In [10]:
NY_subset= df.loc[3850:3973,["Year","State","Poor mental health days","Premature death"]].copy()